$color-primary: #E74C3C;
$color-bgGrey1: #fafafa;

$color-light-grey-1: #F9FBFC;
$color-light-grey-2: #F4F5F7;
$color-light-grey-3: #EBEDF0;
$color-light-grey-4: #E1E4E8;
$color-light-grey-5: #D7DBE0;
$color-light-grey-6: #C5CAD1;
$color-light-grey-7: #A9B0BA;

$color-grey-1: #87909C;
$color-grey-2: #68717D;

$color-white: white;
$color-paragraph-black: #444444;
$color-minor-black: #888888;